html {
    background: rgb(28, 25, 34);
}

body {
    margin: 50px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    color: rgb(219, 143, 133);
}

h1 {
    text-decoration: underline;
    font-size: 200%;
}
